<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerCellClass</key>
			<string>FTSHeaderView</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Setting</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.p-x9.forceuitableviewstyle.pref</string>
			<key>key</key>
			<string>isTweakEnabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Replace1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>com.p-x9.forceuitableviewstyle.pref</string>
			<key>default</key>
			<integer>0</integer>
			<key>key</key>
			<string>from1</string>
			<key>label</key>
			<string>From</string>
			<key>validTitles</key>
			<array>
				<string>Plain</string>
				<string>Grouped</string>
				<string>Inset Grouped</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>com.p-x9.forceuitableviewstyle.pref</string>
			<key>default</key>
			<integer>0</integer>
			<key>key</key>
			<string>to1</string>
			<key>label</key>
			<string>To</string>
			<key>validTitles</key>
			<array>
				<string>Plain</string>
				<string>Grouped</string>
				<string>Inset Grouped</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Replace2</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>com.p-x9.forceuitableviewstyle.pref</string>
			<key>default</key>
			<integer>1</integer>
			<key>key</key>
			<string>from2</string>
			<key>label</key>
			<string>From</string>
			<key>validTitles</key>
			<array>
				<string>Plain</string>
				<string>Grouped</string>
				<string>Inset Grouped</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>com.p-x9.forceuitableviewstyle.pref</string>
			<key>default</key>
			<integer>1</integer>
			<key>key</key>
			<string>to2</string>
			<key>label</key>
			<string>To</string>
			<key>validTitles</key>
			<array>
				<string>Plain</string>
				<string>Grouped</string>
				<string>Inset Grouped</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Replace3</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>com.p-x9.forceuitableviewstyle.pref</string>
			<key>default</key>
			<integer>2</integer>
			<key>key</key>
			<string>from3</string>
			<key>label</key>
			<string>From</string>
			<key>validTitles</key>
			<array>
				<string>Plain</string>
				<string>Grouped</string>
				<string>Inset Grouped</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>com.p-x9.forceuitableviewstyle.pref</string>
			<key>default</key>
			<integer>2</integer>
			<key>key</key>
			<string>to3</string>
			<key>label</key>
			<string>To</string>
			<key>validTitles</key>
			<array>
				<string>Plain</string>
				<string>Grouped</string>
				<string>Inset Grouped</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>credit</string>
			<key>footerText</key>
			<string>@p_x9</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>action</key>
			<string>openTwitter</string>
			<key>label</key>
			<string>Follow on Twitter</string>
		</dict>


	</array>
	<key>title</key>
	<string>ForceUITableViewStyle</string>
</dict>
</plist>
